*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #007BFF;
    --primary-color-gradient: linear-gradient(135deg, hsl(207, 100%, 50%), #003cff);

    --bg-color: #ffffff;
    --dark-bg-color: #0300ca;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --third-text-color: #000000;

    --blue-background: rgb(0, 162, 255);
    --dark-blue-color: #000b70;

    --learn-more-content-color: #ffffff;
}

/* Dark mode styles */
body.dark-mode {
    --primary-color: #004aeb;
    --bg-color: #01003a;
    --dark-bg-color: #00b7ff;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --third-text-color: #007bff;

    --blue-background: #090088;
    --dark-blue-color: #ffffff;

    --learn-more-content-color: #000727;
}

body.dark-mode {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

body.dark-mode nav {
    background: var(--primary-color);
    color: var(--primary-text-color);
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--primary-color-gradient);
    color: white;
    font-weight: bold;
    font-size: medium;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 0px 2px 0px 10px;
}

.nav-logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
}

.nav-logo:hover {
    color: #000b70;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.nav-link {
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list > li {
    position: relative;
}

nav a.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-text-color);
    transition: width 0.3s ease;
}

nav a.nav-link:hover::after, nav a.nav-link:focus::after {
    width: 100%;
}

#nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.nav-toggle, .nav-close {
    display: none;
    background: none;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#dark-mode-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 10px;
}

#dark-mode-toggle {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#dark-mode-icon {
    font-size: 25px;
    color: #ffffff;
    transition: color 0.3s ease;
}

#dark-mode-icon.fas.fa-sun,
#dark-mode-icon.fas.fa-moon{
    margin: 0; 
    padding: 0; 
}

/* rotation animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#dark-mode-icon:hover {
    color: #000a91;
    animation: rotate 0.5s linear;
}

.dark-mode #dark-mode-icon {
    color: #000000;
}

/* sections */
section {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#home, #about, #skills, #projects, #patents ,#contact {
    padding-top: 60px;
}

/* home */
/* home background */
.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: var(--bg-color);
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: var(--bg-color);
}

.colorBox:hover{
    background: #00bbfa;
    transition-duration: 0s;
}

.backgroundAnim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: grid;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
    will-change: filter, top;
    transform: translate3d(0, 0, 0);
}

@keyframes animBack {
    0% {
        top: 0;
        filter: blur(10px);
    }
    10%{
        filter: blur(40px);
    }
    75% {
        filter: blur(60px);
    }
    100% {
        top: 120%;
        filter: blur(100px);
        opacity: 0;
    }
}

#home {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    z-index: 3;
    position: relative;
    font-size: 2rem;
    text-align: center;
}

.info h6{
    font-family: 'Courier New', Courier, monospace;
}

.blue-text {
    font-size: 45px;
    font-family: "Ranchers", sans-serif;
    font-weight: bolder;
    color: rgb(0, 89, 255);
}

.highlight-text {
    background-color: rgb(0, 17, 255); 
    color: #fafafa;
    padding: 0 8px;  
    font-weight: bold; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.highlight-text:hover {
    background-color: rgb(0, 247, 255); 
    color: rgb(4, 0, 255); 
}

/* about */
#about{
    background: var(--blue-background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    /* height: 100%;  */
}

.aboutme {
    height: auto;
    width: 80%;
    padding: 20px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.158);
    border-radius: 20px;
}

.aboutme-image {
    width: 400px;
    filter: drop-shadow(0 0 10px rgba(0, 153, 255, 0.541));
    transition: transform 0.5s ease, border-color 0.5s ease;
}

.aboutme-image:hover {
    transform: scale(1.1);
}

.aboutme-text {
    width: 60%;
}

.aboutme-text h2 {
    padding: 0px;
    font-size: 2rem;
    color: #0077ff;
}

.aboutme-text p {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    padding: 0px 10px 10px 0px;
}

.btn {
    display: inline-block;
    padding: 10px 15px 13px 15px;
    background-color: #006eff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s;
    will-change: transform;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(135deg, #00aeff, #001aff);
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgb(0, 195, 255);
}

/* SKILLS */
.skills {
    height: auto;
    padding: 60px 20px;
    background: linear-gradient(to bottom,var(--blue-background) 0%, rgba(0, 162, 255, 0) 100%);
    text-align: center;
}

.skills h2 {
    font-size: 2.5em;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(0, 102, 255);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.skill {
    margin: 10px;
}

.skill-icon {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.384);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-icon:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 8px rgb(0, 162, 255);
}

.skill-icon img {
    width: 50px;
    height: 50px;
}

.skill p {
    font-size: 1em;
    color: var(--secondary-text-color);
    margin: 0;
}

/* projects */
#projects {
    padding: 20px 0px 40px 0px;
    text-align: center;
    height: auto;
    background: var(--bg-color);
}

.heading{
    font-size: 50px;
    background: linear-gradient(135deg, #007bff, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 40px;
    font-family: "Saira Stencil One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    font-weight:bolder;
}

.heading:hover{
    background: linear-gradient(135deg, #00d4ff, #f700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    background: linear-gradient(135deg, hsl(202, 100%, 50%), #002fffa8);
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background 0.3s ease;
}

.project-item:hover {
    color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgb(0, 38, 255);
    background: linear-gradient(135deg, #0056b3, #aa00ff);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; 
}

.project-item:hover .project-image {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

.project-item h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.project-item p {
    margin: 10px 0;
}

.project-skills{
    margin: 10px 0;
}

.project-skills-btn,
.project-skills-btn2{
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    background:  #0044ff;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    border: 2.5px solid #7bd5ff;
    text-align: center;
}

.project-item .button-container,
.other-projects-container .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    gap: 20px;
}

.github_btn {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
    padding-bottom: 4px;
    transition: transform 0.3s ease; 
}

.github_btn:hover {
    color: #000000;
    transform: scale(1.2); 
}

.learn-more-btn {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(135deg, #8400ff, #1900ff);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border: 2.5px solid #7bd5ff;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.learn-more-btn2{
    margin-top: 10px;
    padding: 5px 10px;
}

.learn-more-btn:hover {
    background: linear-gradient(135deg, #0400ff, #f700ff);
    transform: scale(1.05);
}

.heading2{
    margin: 60px 20px 20px 20px;
    font-weight: bolder;
    font-size: 30px;
    color: var(--secondary-text-color);
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: var(--dark-bg-color);
}

.filter-btn.active {
    background-color: var(--dark-bg-color);

}

.project-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.other-projects-container {
    position: relative;
    width: 400px; 
    height: 300px; 
    margin: 10px; 
    overflow: hidden;
    border: 2px solid var(--dark-blue-color);
    border-radius: 8px;
}

.project-title {
    width: 280px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 26, 159, 0.8);
    background: linear-gradient(135deg, hsl(212, 100%, 50%), #f200ffa2);
    color: rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.other-projects-container:hover .project-details {
    opacity: 1;
    transform: translateY(0);
}

.project-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* patents */
#patents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 110px 20px 50px 20px;
    position: relative;
    background-color: var(--bg-color);
}

.patents-txt h1{
    font-size: 100px;
    color: #0077ff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding-left: 30px;
}

.patents-txt h2{
    font-size: 80px;
    padding-left: 30px;
    color: var(--secondary-text-color);
}

.patent-card1{
    position:relative;
    width: 300px;
    /* height:400px; */
    height:auto;
    padding: 10px;
    border-radius: 0px 11px 11px 0px;
    background:#f4f4f4;
    justify-content: center;
    align-items: center;
    display: flex;
    perspective: 100em;
    margin:25px;
    box-shadow:30px 40px 40px rgba(0,0,0,0.2);

}

.cover{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: dodgerblue;
    transform-style: preserve-3d;
    transform-origin: left;
    transition:transform 1s;
    border-radius:0px 10px 10px 0px;
    font-size:30px;
    font-weight: bold
}

.patent-card1:hover .cover{
    transform: rotateY(-120deg);
}

.coverfront, .coverback{
    position:absolute;
    width:100%;
    height:100%;
    justify-content: center;
    align-items:center;
    display: flex;
    backface-visibility: hidden;
}

.coverfront{
    position: relative;
    background: linear-gradient(135deg, hsl(202, 100%, 50%), #f200ff);
    text-align: center;
    border-radius: 0px 10px 10px 0px ;
    border: 2px solid #000000;
}

.coverfront p {
    position: absolute;
    top: 0px;
    font-size: 17px;
    font-weight: 800;
    text-align: left;
    padding: 20px 100px 40px 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.coverfront img {
    position: absolute;
    filter: brightness(120%);
    background-color: #7d0303;
    border-radius: 50%;
    bottom: 20px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 4px;
}

.coverfront .shape {
    width: 20px;
    height: 80%;
    background-color: #9c0000;
    position: absolute;
    top: 0px;
    right: 50px;
}

.coverback{
    background: #ffffff;
    border-radius: 10px 0px 0px 10px;
    transform:rotateY(180deg);
}

.card1, .card2{
    border: .5px solid #000000;
}

.card2{
    margin-top: 80px;
}

.patent-info{
    padding: 0px 5px;
    text-align: center;
}

.patent-info h1{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background: linear-gradient(135deg, #8400ff, #1900ff);
    padding: 5px;
}

.patent-info p{
    font-size: 14px;
    color: #000000;
    text-align: justify;
    

}

.patent-info-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #007bff;
}

.patent-info-btn:hover{
    background: #0044ff;
}

.info2 h1{
    font-size: 11.5px;
}


/* contact */
#contact {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px 0;
    height: auto;
}

#contact .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#contact h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 30px;
}

.contact-card {
  display: flex;
  border-radius: 8px;
}

.contact-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, hsl(204, 100%, 50%), #7700ffd8);
}

.contact-info h3 {
  margin: 10px;
  color: #ffffff;
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.contact-info p {
  margin: 0px 40px 40px 20px;
  color: #310070;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-bottom: 100px;
}

.contact-form {
    flex: 1;
    padding: 20px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: 2px solid transparent; 
    border-image: linear-gradient(135deg, #0056b3, #aa00ff) 1;
    border-left: none;
}

body.dark-mode .contact-form{
    background: #003af74d;
}

.contact-form .form-group {
  margin-bottom: 5px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  background-color: rgba(255, 255, 255, 0.329);
  width: 100%;
  padding: 10px;
  border: 1px solid #00aeff;
  border-radius: 4px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea {
  background-color: rgba(0, 183, 255, 0.1);
  border: 1px solid #00aeff;
  color: #ffffff;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0026ff;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid transparent; 
    background-clip: padding-box;
    border-image: linear-gradient(135deg, #0056b3, #aa00ff) 1;
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.social-contact {
  margin: 20px;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.social-contact a {
  color: var(--primary-text-color);
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-contact a:hover {
  color: #001f75;
  transform: scale(1.2); 
  transition: transform 0.3s ease;
}

body.dark-mode .social-contact a:hover {
    color: #ffffff; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#alert-message.success {
    color: rgb(0, 182, 0);
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;

}

#alert-message.error {
    color: red;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;

}

/* footer */
#footer {
    background: var(--primary-color-gradient);
    color: var(--primary-text-color);
    padding: 20px 20px 10px 20px;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    /* height: auto; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    padding: 0 15px;
    text-align: left;
}

.footer-column:nth-child(1) {
    flex: 1 1 25%; /* First column takes 25% of the width */
}

.footer-column:nth-child(2), .footer-column:nth-child(3) {
    border-left: 2px solid var(--primary-text-color);
    flex: 1 1 10%;
}

.footer-column h1{
    margin: 16px;
    font-size: 50px;
    margin-bottom: 20px;

}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column:nth-child(2) ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
    display: inline-block;
    transform-origin: left;
}

.footer-column ul li a:hover {
    transform: scale(1.875);
    font-weight: bold;
    color: var(--dark-blue-color);
}

.footer-content:after {
    content: "";
    display: table;
    clear: both;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
}

/* go up button */
#go-up-btn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px; 
    height: 50px; 
    font-size: 18px;
    background: linear-gradient(135deg, #007bff, #00d4ff);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#go-up-btn:hover {
    color: var(--secondary-text-color);
    background: linear-gradient(135deg, #00aeff, #007bff);
    transform: scale(1.1);
}

/* responsive */
@media screen and (max-width: 479px){

    #about {
        height: auto;
    }

    .patents-txt{
        margin-left: auto;
        margin-right: auto;
    }

    .patents-txt h1,
    .patents-txt h2{
        padding-left: 0px;
    }

    .patents-txt h1{
        font-size: 85px;
    }

    .patents-txt h2{
        font-size: 35px;
        text-align: center;
    }

    .card1, .card2{
        margin-left: auto ;
        margin-right: auto;

    }

    .coverfront {
        width: auto;
    }

    .coverfront p {
        font-size: 16px;
        padding: 20px 120px 40px 20px;
    }

}

@media screen and (max-width: 536px){
    #projects{
        padding: 40px 10px;
    }

    .contact-card {
        flex-direction: column;
    }

    .contact-info {
        order: 1;
    }

    .contact-form {
        order: 2;
        border-image: linear-gradient(135deg, #0056b3, #aa00ff) 1;
        border-left: 2px solid #0056b3;
        border-top: none;
    }

    .patents-txt h2{
        font-size: 40px;
    }

    /* footer */
    .footer-column:nth-child(1){
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .nav-toggle, .nav-close {
        position: absolute;
        font-size: 35px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
    }

    .nav-toggle{
        display: block;
    }

    .nav-close.active {
        display: block;
    }

    .nav-toggle.active {
        display: none;
    }

    .nav-menu.active {
        /* display: flex; */
        right: 0;
    }

    .nav-menu{
        /* display: none;  */
        width: 50%;
        height: 100%;
        position: fixed;
        top: 60px;
        right: -100%;
        background: rgb(0, 132, 255);
        opacity: 0.9;
        z-index: 0;
        justify-content: center;
        align-items: flex-start;
        transition: 0.7s ease-in-out;
    }

    .nav-menu .nav-list {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        row-gap: 50px;
    }

    .nav-link{
        font-size: 1.5rem;
    }

    .aboutme-image {
        width: 300px;
        margin-bottom: 20px;
    }

    .aboutme-text p{
        font-size: 16px;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 10px 0px;
    }

    #dark-mode-container {
        position: absolute;
        right: 80px;
    }

    #dark-mode-icon {
        font-size: 25px;
        margin-top: 5px;
    }

    .project-details{
        opacity: 1;
        transform: translateY(0);
    }

    /* footer */
    .footer-column h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 1024px) {
    #patents{
        height: auto;
    }

    .aboutme-text {
        width: 80%;
    }

    #about {
        height: auto;
    }

    .aboutme {
        flex-direction: column;
        height: auto;
        width: 90%;
        padding: 0;
    }

    .aboutme-image {
        margin-bottom: 20px;
    }

    .aboutme-text{
        padding-bottom: 50px;
    }


}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #008cff;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0055c5;
}

::-webkit-scrollbar {
    width: 12px;
}


@media screen and (max-width: 390px) {

    .info{
        font-size: 1.5rem;
    }

    .info h1{
        font-size: 1.5rem;
    }

    .blue-text{
        font-size: 30px;
    }

    .project-item{
        height: auto;
    }

    .cover{
        display: none;
    }

    .patents-txt h1{
        font-size: 50px;
        text-align: center;
    }

    .card1, .card2{
        border: 2px solid #000000;
    }

    .patent-info{
        padding:05px;
    }

    .patent-info h1{
        font-size: 13px;
    }

    .patent-info p{
        font-size: 16px;
    }

    .heading{
        font-size: 40px;
    }

}

@media screen and (max-width: 310px) {

    .nav-logo{
        display: none;
    }

    .aboutme-image {
        width: 150px;
        margin-top: 10px;
    }

    .patents-txt h2{
        font-size: 30px;
    }

    .footer-column:nth-child(3){
        display: none;
    }
} 